:root {
  /* Primary */

--Orange: hsl(25, 97%, 53%);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

body {
  /* border: 4px solid orangered; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  /* border: 2px solid blue; */
  border-radius: 20px;
  background-image: linear-gradient(to top, #121417, #171a1f, #1c2027, #20272f, #252d37);
  width: 320px;
  padding: 25px 20px 30px 20px;
}

.top, .middle, .bottom{
  /* border: 1px solid green; */
  /* display: none; */
}

/*************** TOP START  ****************/
.top {
  display: flex;
  align-items: flex-start;
}

.hero-icon {
  /* border: 1px solid orange; */
  background-image: linear-gradient(to top, #121417, #171a1f, #1c2027, #20272f, #252d37);
  border-radius: 50px;
  margin: 0 0 18px 0;
}

.hero-icon img {
  height: 18px;
  padding: 8px 12px;
}
/*************** TOP END  ****************/

/*************** MIDDLE START  ****************/
header {
  /* border: 1px solid purple; */
  padding: 0 0 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--White);
}

.description {
  /* border: 1px solid purple; */
  font-weight: 400;
  color: var(--Light-Grey);
}

.rating {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
}

button {
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 50px;
  border: none;
}

.btn {
  background-color: var(--Dark-Blue);
  color: var(--Light-Grey);
  transition: ease 0.2s;
}

.active {
  background-color: var(--Light-Grey);
  color: black;
}

.btn:hover {
  background-image: none;
  background-color: var(--Orange);
  color: black;
}

/*************** MIDDLE END  ****************/

/*************** BOTTOM START  ****************/
.submit {
  width: 100%;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--Very-Dark-Blue);
  background-color: var(--Orange);
}

.submit:hover {
  background-color: var(--White);
}

.submit:active {
  background-color: var(--Orange);
}
/*************** BOTTOM END  ****************/

/*************** THANK YOU STATES  ****************/

/*************** THANK YOU TOP START  ****************/
.thank-you-top, .thank-you-middle, .thank-you-bottom{
  /* border: 1px solid green; */
  display: none;
}

.thank-you-top {
  /* display: flex; */
  justify-content: center;
  padding: 0 0 28px 0;
}

.thank-you-middle {
  text-align: center;
}

.answer {
  background-color: var(--Dark-Blue);
  padding:8px 0;
  margin: 0 60px;
  border-radius: 50px;
  color: var(--Orange);
}

.thanks-text{
  color: var(--White);
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0;
}

.thank-you-bottom {
  text-align: center;
  color: var(--Light-Grey);
}
/*************** THANK YOU TOP END  ****************/
